<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kushkipagos.kushki">
    <application>
        <activity
            android:name="com.kushkipagos.views.Security3DSActivity"
            android:exported="true" />
    </application>
</manifest>